# Build and Release Folders 构建和发布文件夹
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders 其他文件和文件夹
.settings/

# Executables  可执行文件
*.swf
*.air
*.ipa
*.apk
*.pdf
*.suo

# Compiled Object files 编译的目标文件
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries  编译的动态库
*.so
*.dylib
*.dll
*.pdb
*.cache

# Executables  可执行文件
*.exe
*.out
*.app

#CAD错误文件
*.err


#屏蔽VS目录文件
.vs
Debug
Release
x64


#忽略所有名为 outPutPath 的文件夹及其内部的同名文件夹
outPutPath/


/AUTOCADCode/MyCD/DotNetARX/2010/.vs
/AUTOCADCode/MyCD/DotNetARX/2010/.vs
/AUTOCADCode/MyCD/DotNetARX/outPutPath/*.pdb
/AUTOCADCode/MyCD/DotNetARX/2010/.vs/DotNetARX/v16/*.suo
/AUTOCADCode/MyCD/DotNetARX/2010/.vs
/AUTOCADCode/MyCD/Chap01/outPutPath/*.pdb
outPutPath
*.pdb
outPutPath
outPutPath
outPutPath
outPutPath
outPutPath
outPutPath
outPutPath
