<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLCAD.Properties.Settings.db_sampleConnectionString"
            connectionString="Data Source=.\Sqlexpress;Initial Catalog=db_sample;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SQLCAD.Properties.Settings.db_sampleConnectionString1"
            connectionString="Data Source=.\SqlExpress;Initial Catalog=db_sample;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>